table {
    border-collapse: collapse;
    border-spacing: 0;
	-webkit-box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}


.zebra {
    border: 1px solid #555;
}

.zebra td {
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    padding: 10px;
    text-align: left;    
}

.zebra th, .zebra th:hover {
    border-left: 1px solid #555;
	border-bottom: 1px solid #828282;
    padding: 20px;  
    background-color:#151515 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#404040)) !important;
    background-image: -webkit-linear-gradient(top, #151515, #404040) !important;
    background-image:    -moz-linear-gradient(top, #151515, #404040) !important;
    background-image:     -ms-linear-gradient(top, #151515, #404040) !important;
    background-image:      -o-linear-gradient(top, #151515, #404040) !important;
    background-image:         linear-gradient(top, #151515, #404040) !important;
	color:#fff !important;
	font-weight:normal;
}

.zebra tbody tr:nth-child(even) {
    background: #000 !important;
	color:#fff;
}

.zebra tr:hover *{
    background: #eeeeee;
	color:#000;
}

.zebra tr {
	background:#404040;
	color:#fff;
}
h1 {
    color: #FFFFFF;
    text-align: center;
}
h2 {
    text-align: center;
}

.section {
	position:relative;
	padding-bottom:80px;
}
.section-header {
    margin-bottom:40px;
    color: #ffffff;
}

.feature {
	position:relative;
}

.feature + .feature  {
	margin-top:40px;
}

.feature .feature-icon {
	position:absolute;
	left:0;
	top:0;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	border-radius: 50%;
	font-size:30px;
	border:1px solid #EBEBEB;
	color:#FF6700;
}

.feature-content {
    padding-left:100px;
    color: #ffffff;
}
.container{
    padding-top: 40px;
}
body{
    background-image: url("../img/home-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

